/*
Skin Name:  Nivo Slider Dark Theme
Skin URI:  http://nivo.dev7studios.com
Description:  OpenCart Modification by iDiY
Version:  1.0
Author:  Gilbert Pellegrom
Author URI:  http://dev7studios.com
Supports Thumbs:  true
 */

.theme-dark {
	margin-bottom: 20px;
}

.theme-dark.slider-wrapper {
	overflow: hidden;
	padding: 10px;
	background: #222;
}

.theme-dark .nivoSlider {
	position: relative;
	overflow: visible;
	margin-bottom: 10px;
	background: #fff url(loading.gif) no-repeat 50% 50%;
}

.theme-dark .nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.theme-dark .nivoSlider a {
	display: block;
	border: 0;
}

.theme-dark .nivo-controlNav {
	position: relative;
	z-index: 10;
	padding: 3px 0;
	text-align: left;
}

.theme-dark .nivo-controlNav a {
	display: inline-block;
	margin: 0 2px;
	width: 10px;
	height: 10px;
	border: 0;
	background: url(bullets.png) no-repeat 0 2px;
	text-indent: -9999px;
}

.theme-dark .nivo-controlNav a.active {
	background-position: 0 100%;
}

.theme-dark .nivo-directionNav a {
	top: auto;
	bottom: -36px;
	z-index: 11;
	display: block;
	width: 30px;
	height: 30px;
	border: 0;
	background: url(arrows.png) no-repeat;
	text-indent: -9999px;
}

.theme-dark .nivo-directionNav a:hover {
	border-radius: 2px;
	background-color: #333;
}

.theme-dark a.nivo-nextNav {
	right: 0px;
	background-position: -16px 50%;
}

.theme-dark a.nivo-prevNav {
	right: 35px;
	left: auto;
	background-position: 11px 50%;
}

.theme-dark .nivo-caption {
	top: 20%;
	bottom: auto;
	left: 5%;
	max-width: 35%;
	max-height: 70%;
	background: transparent;
	opacity: 1;
}

.theme-dark .nivo-caption h1 {
	margin-bottom: 10px;
	color: white;
	text-shadow: 1px 1px rgba(0,0,0,.65);
	font-weight: bold;
	font-size: 24px;
}

.theme-dark .nivo-caption p {
	margin-bottom: 15px;
	color: white;
	text-shadow: 1px 1px rgba(0,0,0,.65);
	font-style: italic;
	font-weight: bold;
}

.theme-dark .nivo-caption a.button {
	display: inline-block !important;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled {
	padding: 0;
	width: 80%;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled a {
	margin: 0 4px 0 0;
	width: auto;
	height: auto;
	background: none;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	max-width: 100%;
	height: auto;
}
